@charset "UTF-8";

h1#principal{
    background-color: green;
    color: white;
    text-align: center;
}
h1{
    color:green
}
h2{
    color: rgb(118, 246, 118);
}
.basico{
    background-color: rgb(241, 20, 226);
    color: white;
}
.intermediario{
    background-color: purple;
    color:white;
    width: 250px;
}